<!-- temp.html -->
<html>
    <head></head>
    <body>
        <h1>Temporary API Testing</h1>
        <h5>Publishers</h5>
        <a href="{{url_for('getPublishers')}}">getPublishers()</a><br />
        <a href="{{url_for('getPublisher', id = 1)}}">getPublisher(id = 1)</a><br />
        <a href="{{url_for('getPublisher', id = 2)}}">getPublisher(id = 2)</a><br />
        <a href="{{url_for('getPublisher', id = 3)}}">getPublisher(id = 3)</a><br />
        <h5>Authors</h5>
        <a href="{{url_for('getAuthors')}}">getAuthors()</a><br />
        <a href="{{url_for('getAuthor', id = 1)}}">getAuthor(id = 1)</a><br />
        <a href="{{url_for('getAuthor', id = 2)}}">getAuthor(id = 2)</a><br />
        <a href="{{url_for('getAuthor', id = 3)}}">getAuthor(id = 3)</a><br />
        <h5>Works</h5>
        <a href="{{url_for('getWorks')}}">getWorks()</a><br />
        <a href="{{url_for('getWork', id = 1)}}">getWork(id = 1)</a><br />
        <a href="{{url_for('getWork', id = 2)}}">getWork(id = 2)</a><br />
        <a href="{{url_for('getWork', id = 3)}}">getWork(id = 3)</a><br />
        <h5>Unit Test</h5>
        <a href="{{url_for('getUnitTest')}}">getUnitTest</a><br />
        <h5>Sorted Data (all)</h5>
        <a href="{{url_for('getPublishersSorted')}}">getPublishers()</a><br />
        <a href="{{url_for('getAuthorsSorted')}}">getAuthors()</a><br />
        <a href="{{url_for('getWorksSorted')}}">getWorks()</a><br />
        <h5>Sorted Data (all) w/ q='' page=1 per_page=10</h5>
        <a href="{{url_for('getPublishersSorted', q = '', page = 1, per_page = 2, orderBy = 'country', ordering = 'dec', founded_range = '1500-2000')}}">getPublishers()</a><br />
        <a href="{{url_for('getAuthorsSorted', q = '', page = 1, per_page = 5, orderBy = 'birth_date', ordering = 'dec', death_date = '1990-2000')}}">getAuthors()</a><br />
        <a href="{{url_for('getWorksSorted', q = '', page = 1, per_page = 5, orderBy = 'page_count', ordering = 'dec', page_range = '10-10000')}}">getWorks()</a><br />
    </body>
</html>